
/* Active Link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .Mygear-check{
    background-color: #e41817;
}

.navbar-inverse .navbar-brand span,
.about h1 span, .about h3 span,
.Testimonial span,
.footer h3,
.footer .copyright span{
    color: #e41817;
}
.Testimonial .carousel-indicators li.active,
.option-box .color-option{
    border: 2px solid #e41b17;    
}

.dropdown-menu{
    border-top: 3px solid #e41817;
}
