
/* Active Link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .Mygear-check,
.option-box .color-option ul li{
    background-color: #638700;
}

.navbar-inverse .navbar-brand span,
.about h1 span, .about h3 span,
.Testimonial span,
.footer h3,
.footer .copyright span{
    color: #638700;
}
.Testimonial .carousel-indicators li.active,
.option-box .color-option{
    border: 2px solid #638700;    
}

.dropdown-menu{
    border-top: 3px solid #638700;
}
/*
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus{
    background-color: #e41817;
}
*/
/*
.carousel-indicators .active{
    background-color: #e41817;
}
*/
/*
.about h1 span, .about h3 span{
    color: #e41817;
}
*/
/*
.Testimonial span{
    color: #e41b17;
}
*/
/*
.Testimonial .carousel-indicators li.active{
    border: 2px solid #e41b17;    
}
*/
/*
.footer h3{
    color: #e41b17;
}
*/
/*
.footer .copyright span{
    color: #e41b17;
}

*/

/*
.option-box .color-option{
    border: 4px solid #e41b17;
}
*/
/*
.option-box .color-option ul li{
    background: #f00;
}
*/
/*
.option-box .Mygear-check{
    background: #e41b17;

}*/
